<div id="main_header" class="row">

    <div class="col-sm-2 logo" >
      <img src="../../../assets/images/49aa0a09-06d2-4bba-ad20-4bcbe56ac507_logo.png" alt="">
    </div>
    <div class="col-sm-7  d-flex   my-auto top_headerNave" >

      <a href="#">Products </a>
      <a href="#">Solutions</a>
      <a href="#"> Marketplace </a>
      <a href="#">Customers</a>
      <a href="#">Community </a>
      <a href="#">Pricing</a>
    </div>
    <div class="col-sm-3 d-flex justify-content-end" >
      <button type="button" class="btn btn-outline-primary">Sign In</button>
      <button type="button" class="btn btn-primary">Sign Up</button>
    </div>
  </div>

