

#main_header
{
  border-bottom:1px solid thistle;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;


.logo{
  display: flex;
    align-items: center;
    img{
      height: 27px;
      width: 172px;
    }
}

  .top_headerNave
  {
    button{
      margin: 12px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      font-family: system-ui;

    }
    .signInBtn
    {
      color: #007bff;
      &:hover{
        color: #ffffff;
        text-decoration: none;
        background-color: #007bff;

      }

    }

  }
  ul li a{
    color: #031b4f;
    font-family: 'Sailec-Medium','Helvetica','san-serif';
    font-size: 14px;
    font-weight: 600;
    &:hover{
      color: blue;
    }
  }



}
