

#main_header
{
  min-height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  margin: auto;



.logo{
  display: flex;
  align-items: center;

    img{
      height: 30px;
      width: 170px;
    }
}

  .top_headerNave
  {
    button{
      margin: 12px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      font-family: system-ui;

    }
    .signInBtn
    {
      color: #007bff;
      &:hover{
        color: #ffffff;
        text-decoration: none;
        background-color: #007bff;

      }

    }

  }
  #navbarSupportedContent{

  ul li a{
    color: #031b4f;
    font-family: 'Inter-Medium','Helvetica','san-serif';
    font-size: 14px;
    font-weight: 500;
    &:hover{
      color: blue;
    }
  }

  }

}
