
  #featured_posts {
    width: 100%;

    .featuredPost{
      max-width: 1210px;
      margin: auto;
      .heading1 {
        font-size: 40px;
        color: #0b1b4f;
        font-weight: 500;
        padding: 50px 0px;
      }
      .card
      {
        margin: auto;
        padding: 18px;
        margin-bottom: 20px;
      }

    }



  }


