.top_nav
{
  border-bottom: 1px solid lightgray;
  height: 40px;
  .badge{
    color: #002768;
    font-weight: normal;
    font-size: 9px;
    width: 36px;
    height: 19px;
    line-height: 16px;
    background-color: #00d7d2;

  }
  a
  {
    color: gray;
    font-size: 12px;
    font-family: inherit;
  }
  a:hover{
    text-decoration: none;
    color: #0069ff;
  }
  .top_headerNave{
    display: flex;
   justify-content: flex-end;
   padding-right: 35px;
   a{
    margin-left: 28px;
   }
  }
}



@media only screen and (max-width: 991px) {
  .top_nav {

    display: none;
  }
}
