<div class="container-fluid" id="topicContainer">
  <div class="dropdown">
    <!-- drop down container code start hear  -->
    <mat-form-field appearance="fill" class="topicDropdown">
      <mat-label>TOPICS</mat-label>
      <mat-select [(value)]="topic">
        <mat-option *ngFor="let topic of topics" [value]="topic.value">
          <a
            class="nav-link"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            {{ topic.viewValue }}</a
          >
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- drop down container code start hear  -->
  </div>
  <div class="row">
    <div class="col-sm-10 m-auto p-2">
      <div class="heading4 d-none d-lg-block">
        <strong> TOPICS </strong>
      </div>
      <div class="d-flex align-items-start">
        <div
          class="nav flex-column me-3 tabs d-none d-lg-block"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
            >Home</a
          >

          <a
            class="nav-link"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
            >Profile</a
          >

          <a
            class="nav-link"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
            >Messages</a
          >

          <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
            >Settings</a
          >
        </div>

        <div class="tab-content" id="v-pills-tabContent">
          <div
            [ngClass]="{ 'show active': topic === 'home-0' }"
            class="tab-pane fade"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <!-- style="width: 35rem" -->
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/posts1.jpeg"
                            alt=""
                            class="rounded-circle"
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts2.jpeg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts3.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts1.jpeg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            [ngClass]="{ 'show active': topic === 'profile-1' }"
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts2.jpeg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts3.jpeg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts3.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            [ngClass]="{ 'show active': topic === 'messgesa-2' }"
            aria-labelledby="v-pills-messages-tab"
          >
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts1.jpeg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/posts3.jpeg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img src="../../../assets/images/posts3.jpg" />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            [ngClass]="{ 'show active': topic === 'settings-2' }"
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <img
                    src="../../../assets/images/feture1.jpg"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        Jump-start your startup with DigitalOcean App Platform
                      </span>
                      <ul>
                        <li>
                          <img
                            src="../../../assets/images/avtar1.jpeg"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">Shantanu Kedar</a> on
                            <a href=""> Developer Relations </a> 2023-01-12
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text">
                      DigitalOcean Droplets are on-demand, Linux virtual
                      machines suit ...
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="dropdown show">
  <a class="secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
