<div class="container-fluid" id="topicContainer">
  <div class="dropdown">
    <!-- dropdown container code start  here -->
    <mat-form-field
      appearance="fill"
      class="topicDropdown d-lg-none .d-md-block"
    >
      <mat-label>TOPICS</mat-label>
      <mat-select [(value)]="topic">
        <mat-option *ngFor="let topic of topics" [value]="topic.value">
          {{ topic.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- dropdown container code start  here -->
  </div>
  <div class="row">
    <div class="col-sm-10 m-auto p-2">
      <div class="heading4 d-none d-lg-block">
        <strong> TOPICS </strong>
      </div>
      <div class="d-flex align-items-start">
        <div
          class="nav flex-column me-3 tabs d-none d-lg-block"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
            >Home</a
          >

          <a
            class="nav-link"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
            >Profile</a
          >

          <a
            class="nav-link"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
            >Messages</a
          >

          <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
            >Settings</a
          >
        </div>

        <div class="tab-content" id="v-pills-tabContent">
          <div
            [ngClass]="{ 'show active': topic === 'home-0' }"
            class="tab-pane fade"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <!-- style="width: 35rem" -->

            <div *ngFor="let topicPostHome of topicsPostsHome">
              <ul>
                <li>
                  <img
                    src="../../../assets/images/{{ topicPostHome.postImg }}"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        {{ topicPostHome.postTitle }}
                      </span>
                      <ul class="d-none d-lg-block">
                        <li>
                          <img
                            src="../../../assets/images/{{
                              topicPostHome.postAuthor.avatarImg
                            }}"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">{{ topicPostHome.postAuthor.name }}</a>
                            on
                            <a href=""
                              >{{ topicPostHome.postAuthor.authorPost }}
                            </a>
                            {{ topicPostHome.creationDate }}
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text d-none d-lg-block">
                      {{ topicPostHome.description }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            [ngClass]="{ 'show active': topic === 'profile-1' }"
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div *ngFor="let profileTopicPost of topicPostsProfile">
              <ul>
                <li>
                  <img
                    src="../../../assets/images/{{ profileTopicPost.postImg }}"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        {{ profileTopicPost.postTitle }}
                      </span>
                      <ul class="d-none d-lg-block">
                        <li>
                          <img
                            src="../../../assets/images/{{
                              profileTopicPost.postAuthor.avatarImg
                            }}"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">{{
                              profileTopicPost.postAuthor.name
                            }}</a>
                            on
                            <a href=""
                              >{{ profileTopicPost.postAuthor.authorPost }}
                            </a>
                            {{ profileTopicPost.creationDate }}
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text d-none d-lg-block">
                      {{ profileTopicPost.description }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            [ngClass]="{ 'show active': topic === 'messages-2' }"
            aria-labelledby="v-pills-messages-tab"
          >
            <div *ngFor="let topicPostMessage of topicPostsMessages">
              <ul>
                <li>
                  <img
                    src="../../../assets/images/{{ topicPostMessage.postImg }}"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        {{ topicPostMessage.postTitle }}
                      </span>
                      <ul class="d-none d-lg-block">
                        <li>
                          <img
                            src="../../../assets/images/{{
                              topicPostMessage.postAuthor.avatarImg
                            }}"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">{{
                              topicPostMessage.postAuthor.name
                            }}</a>
                            on
                            <a href=""
                              >{{ topicPostMessage.postAuthor.authorPost }}
                            </a>
                            {{ topicPostMessage.creationDate }}
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text d-none d-lg-block">
                      {{ topicPostMessage.description }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            [ngClass]="{ 'show active': topic === 'settings-2' }"
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div *ngFor="let topicPostSetting of topicPostsSettings">
              <ul>
                <li>
                  <img
                    src="../../../assets/images/{{ topicPostSetting.postImg }}"
                    alt="Card image cap"
                    width="206"
                    height="116"
                  />
                </li>
                <li>
                  <div class="card-body">
                    <div id="postWriter">
                      <span class="primeryColor heading2">
                        {{ topicPostSetting.postTitle }}
                      </span>
                      <ul class="d-none d-lg-block">
                        <li>
                          <img
                            src="../../../assets/images/{{
                              topicPostSetting.postAuthor.avatarImg
                            }}"
                            class="rounded-circle"
                            alt=""
                          />
                        </li>
                        <li>
                          <h5 class="card-title">
                            <a href="">{{
                              topicPostSetting.postAuthor.name
                            }}</a>
                            on
                            <a href=""
                              >{{ topicPostSetting.postAuthor.authorPost }}
                            </a>
                            {{ topicPostSetting.creationDate }}
                          </h5>
                        </li>
                      </ul>
                    </div>

                    <p class="card-text d-none d-lg-block">
                      {{ topicPostSetting.description }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="container topicButtons d-flex">
            <div class="mr-auto p-2">
              <button mat-stroked-button color="primary">Newer Posts</button>
            </div>
            <div class="p-2">
              <button mat-stroked-button color="primary">Older Posts</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
