<div id="featured_posts" class="mt-auto">
  <div class="featuredPost row">
    <div class="heading1 col-lg-12 col-11 offset-lg-0 offset-1">
      Featured posts
    </div>
    <div class="row m-auto d-flex">
      <!-- Featured posts start hear -->
      <div
        class="col-lg-4 col-xs-12"
        *ngFor="let post of featuredPosts"
        routerLink="4"
      >
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/images/{{ post.postImg }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <div id="postWriter">
              <ul>
                <li>
                  <img
                    src="../../../assets/images/avtar1.jpeg"
                    alt=""
                    class="rounded-circle"
                  />
                </li>
                <li>
                  <h5 class="card-title">
                    <a>{{ post.postAuthor.name }}</a> on
                    <a href="">
                      {{ post.postAuthor.authorPost }}
                    </a>
                    {{ post.creationDate }}
                  </h5>
                </li>
              </ul>
              <span class="primeryColor heading2">
                {{ post.postTitle }}
              </span>
            </div>

            <p class="card-text">
              {{ post.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
